
@import url(../../../../fonts.css);

.IconMall{
    color:white;
    display: flex;
    align-items: center;
}

.MiniCart{
    border-radius: 5px;
    padding: 1px;
    display: flex;
    justify-content: space-around;
    width: 100px;
    align-items: center;
    text-align:center;
    background-color: #3C56A6;
}

.MiniCart:hover{
    transition:0.5s;
    
    box-shadow: 0px 5px #F1F1F1;
    background-color: #101F73;

}

.Value{
    color:white;
    font-family: "Mount-SemiBold";
    font-size: 12px;

}